
language: android
android:
  components:
  - tools
  - platform-tools
  - build-tools-28.0.3
  - android-28
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository
jdk:
  - oraclejdk8
before_install:
  - chmod +x gradlew
script:
  - ./gradlew build
before_deploy:
  - chmod +x .scripts/gen-bintray-descriptor.sh
  - .scripts/gen-bintray-descriptor.sh
deploy:
  provider: bintray
  file: "./bintray.json",
  user: "18jafenn90",
  key: "$BINTRAY_KEY",
  skip_cleanup: true