<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jfenn.colorpickerdialog">

    <application android:name="me.jfenn.colorpickerdialog.ColorPicker">

        <activity
            android:name="me.jfenn.colorpickerdialog.activities.ImagePickerActivity"
            android:label="@string/image_picker_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>
